/*
Theme Name: 	     Prandible-Theme-2018
Theme URI: 		     http://www.buddyboss.com/child-themes/
Description: 	     A child theme of Boss. To ensure easy updates, make your own edits to Boss in this theme.
Author: 		     BuddyBoss.com
Author URI: 	     http://www.buddyboss.com
License: 		     GNU General Public License v3 or later
License URI: 	     http://www.gnu.org/licenses/gpl-3.0.html
Template: 		     boss
Version: 		     2.3.3
Bitbucket Theme URI: https://bitbucket.org/devprandible/prandible-theme-2018/
Bitbucket Branch:    master
*/

/*

-- Stylesheet locations --

Add your own customizations into /css/custom.css in this child theme.

Parent styles are called from /buddyboss-inc/theme-functions.php in the
parent theme and are located in /boss/css/ in the parent theme.


--- If you are editing CSS via the WordPress admin, do the following ---

1. Install the plugin WP Editor: http://wordpress.org/plugins/wp-editor/
2. Navigate to Appearance > Theme Editor in the WordPress admin.
3. Navigate into the /css/ folder of your child theme to edit custom.css.


--- The styles are loaded in the following order ---

-- PARENT THEME --

1. main-global.css 					Global theme styles
2. main-desktop.css 				Desktop-only theme styles
3. main-mobile.css					Mobile-only theme styles

-- CHILD THEME --

4. custom.css

The later on a stylesheet is loaded, the higher precedent it gets.
So for example, if you define a CSS element in custom.css that has already
been defined in main-global.css, the version in custom.css will be used.

Each stylesheet includes a table of contents to help you navigate
through it. You will notice that many of them include a section with
media queries. Media queries allow us to detect a browser's screen
size, and load specific styles only if the screen is larger or smaller
than that particular size. This allows us to define a large set of
global styles, and then specific styles for phones, tablets,
and desktops & laptops - just based on the predicted screen size
of these devices. That's boss!


*/



